.pub-row {
  display: flex;
  align-items: center;}

.social-icons a{
  display:inline-block;
  height:2.4rem;
  width:2.4rem;
  background-color:transparent;
  color:#043361!important;
  border-radius:100%;
  text-align:center;
  font-size:1.15rem;
  line-height:2.5rem;
  margin-right:1rem}

@media (prefers-color-scheme: dark) { .social-icons a {color: #3eb7f0 !important; }}

.social-icons a:last-child{margin-right:0}.social-icons a:hover{background-color:white;
    color:black;
    transform: scale(1.2)}
    /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      .social-icons a:hover:after {
        width: 100%;
        background: #337ab7;
      }
     */

@media (prefers-color-scheme: dark) {.social-icons a:last-child{margin-right:0}.social-icons a:hover{background-color:#20212b;
    color:black;
    transform: scale(1.2)}
    /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
    .social-icons a:hover:after {
        width: 100%;
        background: #a0b0ff;
      }
    */
}

.icon-button{
  background-color:white;
  border-radius:3.6rem;
  cursor:pointer;
  display:inline-block;
  font-size:2.0rem;
  height:3.6rem;
  line-height:3.6rem;
  margin:0 5px;
  position:relative;
  text-align:center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;width:3.6rem}

.icon-button span{
  border-radius:0;
  display:block;
  height:0;
  left:50%;
  margin:0;
  position:absolute;
  top:50%;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s;
  width:0}

.icon-button:hover span{
  width:3.6rem;
  height:3.6rem;
  border-radius:3.6rem;
  margin:-1.8rem}

.twitter span{
  background-color:#4099ff}

.facebook span{
  background-color:#4286f4}

.linkedin span{
  background-color:#0077B5}

.github span{
  background-color:#000}

email {
    font-size: 14px;
    font-family: "Ubuntu Mono";
}

.icon-button i{
  background:none;
  color:white;
  height:3.6rem;
  left:0;
  line-height:3.6rem;
  position:absolute;
  top:0;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s;
  width:3.6rem;
  z-index:10}

.icon-button .icon-twitter{
  color:#4099ff}

.icon-button .icon-facebook{
  color:#4286f4}

.icon-button .icon-github{
  color:#000;}

.icon-button .icon-linkedin{
  color:#0077B5}

.icon-button:hover .icon-twitter,.icon-button:hover .icon-facebook,.icon-button:hover .icon-github,.icon-button:hover .icon-linkedin{color:white}

autocolor{
  color:#595959;
}

lightonly {
  visibility: visible;
}

darkonly {
  visibility: hidden;
}

education {
    font-weight: 500;
    font-size: 115%;
  }
papertitle {
    font-weight: 600;
    font-size: 100%;
  }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #20212b;
        color: #dadbdf;
    }

    autocolor{
      color:#dadbdf;
    }

    lightonly {
      visibility: hidden;
    }

    darkonly {
      visibility: visible;
    }

    papertitle {
    color:#eeeff0;
    }

}


  .image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image:before {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .image.avatar {
      border-radius: 100%;
    }

      .image.avatar:before {
        display: none;
      }

      .image.avatar img {
        border-radius: 100%;
        width: 45%;
        padding: 20px;
        // border: 1px solid #ddd;
        // padding: 3px;
        // box-shadow: 0 -1px 5px 1px rgba(200, 200, 200, 0.3);
      }

    #header .image.avatar {
      margin: 0 0 1em 0;
      width: 8.00em;
    }

h3, h4, h5, h6 {
  font-weight: 600;
  color:#043361;
  margin:0 0 20px;
}

h1 {
  font-weight: 500;
  color:#043361;
  margin:0 0 20px;
}

h2 {
  color:#043361;
  font-weight: 500;
  margin:2px 0px 15px;
  font-size: 157%;
}

// @media (prefers-color-scheme: dark) {
//   h1, h3, h4, h5, h6 {
//     color:rgb(62, 183, 240);
//   }

//   h2 {
//     color:rgb(62, 183, 240);
//   }
// }
@media (prefers-color-scheme: dark) {
    h1,
    h3,
    h4,
    h5,
    h6 {
        color: #58a6ff; // 新的颜色
    }

    h2 {
        color: #58a6ff; // 新的颜色
    }

    a {
        color: #58a6ff; // 新的颜色
    }

    .social-icons a {
        color: #c9d1d9 !important; // 社交图标颜色
    }
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

@media (prefers-color-scheme: dark) {
  a {
    color:rgb(62, 183, 240);
  }
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  max-width:500px;
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

@media (prefers-color-scheme: dark) {
  th {
    color:rgb(62, 183, 240);
  }

  dt {
    color:rgb(62, 183, 240);
  }
}

img {
  max-width:100%;
}

header {
  width:232px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
  padding-top:4.0em;
  text-align:center
}



header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:500;
}

@media (prefers-color-scheme: dark) {
  strong {
    color:#eeeff0;
  }
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:650px;
  float:right;
  padding-top:4.0em;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:232px;
  float:left;
  position:fixed;
  bottom:30px;
  -webkit-font-smoothing:subpixel-antialiased;
  text-align:center;
}

@media print, screen and (max-width: 960px) {

  .pub-row {
  display: flex;
  align-items: center;}

  div.wrapper {
    width:auto;
    margin:0;
  }


  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }


   .image.avatar img {
        border-radius: 100%;
        width: 117px;
        padding:20px;
      }
  #head1o2 {
    visibility: hidden;
  }

  #head2o2 {
    visibility: hidden;
  }

}

@media print, screen and (max-width: 960px) {
  body {
    word-wrap:break-word;
    padding:15px;
  }

  .pub-row {
  display: flex;
  align-items: center;}

  header {
    padding:0;
  }

  header ul, header p.view {

  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {

  .pub-row {
    display: block;
    align-items: center;}

  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }

  .image.avatar img {
      border-radius: 100%;
      width: 95px;
      padding:20px;
  }
  #head1o2 {
    visibility: hidden;
  }

  #head2o2 {
    visibility: hidden;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.biblink {
  text-decoration:none;
  display: inline;
  margin-right: 0px;
}

.fakelink {
  text-decoration: none;
  cursor: pointer;
}

.bibref {
  font-size: 70%;
  margin-top: 10px;
  margin-left: 0px;
  display:none;
  font-family: monospace;
}

.publications .links a.btn {
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 12px !important;
    transition: all 0.2s ease-in-out;
    margin-right: 5px;
    margin-bottom: 5px;
    /* 在小屏幕上换行时增加间距 */
}

.publications .links a.btn:hover {
    background-color: #f3f4f6;
    border-color: #d0d7de;
    color: #0969da;
}

.publications .links a.btn i {
    margin-right: 4px;
}

@media (prefers-color-scheme: dark) {
    .publications .links a.btn {
        border: 1px solid #30363d;
        color: #c9d1d9;
    }

    .publications .links a.btn:hover {
        background-color: #30363d;
        border-color: #8b949e;
        color: #58a6ff;
    }
}

#experience {
    margin-bottom: 20px;
}

.experience-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.experience-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    /* 垂直居中对齐 */
}

.experience-logo {
    margin-right: 20px;
}

.experience-logo .logo-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    /* 轻微的圆角 */
    background-color: white;
    /* 确保透明背景的logo可见 */
    padding: 2px;
    /* 可选的内边距 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* 添加细微阴影 */
}

.experience-details .title {
    font-size: 1.1rem;
    /* 18px to rem */
    font-weight: bold;
    /* color in light/dark mode is handled by existing rules */
}

.experience-details ul {
    list-style-type: none;
    /* 移除默认的圆点 */
    padding-left: 0;
    margin: 5px 0 0;
}

.experience-details li {
    font-size: 0.95rem;
    /* 14px to rem */
    color: #828282;
}

@media (prefers-color-scheme: dark) {
    .experience-details li {
        color: #8b949e;
    }

    .experience-logo .logo-img {
        background-color: #c9d1d9;
        /* 暗黑模式下logo的背景 */
    }
}

.social-icons a {
    margin: 0 5px 0 0; // 从内联样式 style="..." 移到此处
}

#back-to-top {
    display: inline-block;
    background-color: #2196F3;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2em;
    line-height: 50px;
    color: #fff;
}

#back-to-top:hover {
    cursor: pointer;
    background-color: #337ab7;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* News Ticker Styles */
.news-ticker-container {
    height: 100px;
    /* 您可以根据需要调整高度 */
    overflow: hidden;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    position: relative;
}

/* News Container Styles (Manual Scroll) */
.news-ticker-container {
    height: 150px;
    /* 您可以根据需要调整此框的高度 */
    overflow-y: auto;
    /* 当内容超出高度时，显示垂直滚动条 */
    border-radius: 8px;
    padding: 5px 20px;
    background-color: #fdfdfd;
    /* 修正后的浅色模式背景，更柔和 */
    border: 1px solid #e5e5e5;
    /* 使用主题中已有的边框颜色，保持统一 */
    transition: background-color 0.3s, border-color 0.3s;
}

/* 深色模式下的样式 */
@media (prefers-color-scheme: dark){ .news-ticker-container {
    background-color: #2a2c37;
    /* 修正后的深色模式背景，更融入主题 */
    border-color: #30363d;
    /* 深色模式下的边框颜色 */
}
}

.news-ticker-container .news-ticker {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.news-ticker-container .news-ticker li {
    padding: 10px 0;
    font-size: 0.95rem;
    border-bottom: 1px solid #e9ecef;
    /* 为新闻条目添加分隔线 */
}

.news-ticker-container .news-ticker li:last-child {
    border-bottom: none;
    /* 移除最后一项的分隔线 */
}

/* 深色模式下的分隔线 */
@media (prefers-color-scheme: dark){ .news-ticker-container .news-ticker li {
    border-bottom-color: #30363d;
}}

/* (可选，但很酷) 美化滚动条样式 */
.news-ticker-container::-webkit-scrollbar {
    width: 8px;
}

.news-ticker-container::-webkit-scrollbar-track {
    background: transparent;
    /* 滚动条轨道透明 */
}

.news-ticker-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    .news-ticker-container::-webkit-scrollbar-thumb {
        background-color: #555;
    }
}

/* Publication Card Hover Effect */
.pub-row .abbr {
    overflow: hidden;
    /* 确保放大的图片不会超出边界 */
    position: relative;
}

.pub-row .abbr .teaser {
    transition: transform 0.4s ease;
}

.pub-row:hover .abbr .teaser {
    transform: scale(1.1);
    /* 鼠标悬停时图片放大10% */
}

/* 添加一个遮罩层 */
.pub-row .abbr::after {
    content: 'View Details';
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    /* 确保遮罩层不影响点击 */
}

.pub-row:hover .abbr::after {
    opacity: 1;
}